@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
}

body {
  background-color: #f8f4f0;
}

.main {
  margin-bottom: 5rem;
}

.sidenav {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: end;
}

.title {
  display: none;
}

.title-color {
  color: #82c9d7;
}

.nav-item {
  min-height: 60px;
  width: 60px;
  border-radius: 10px 10px 0 0;
  border-bottom: 8px solid transparent;
}

.active {
  min-height: 60px;
  width: 60px;
  border-radius: 10px 10px 0 0;
  border-bottom: 8px solid #277c78;
}

.icon {
  width: 20px;
}

.icon-small {
  width: 12px;
}

.info-container {
  border-radius: 12px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.137);
}

.pots, .recurring-bills {
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.137);
}

.pots-container, .transactions-container {
  background-color: #f8f4f0;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.137);
  gap: 2rem;
}

.transactions-container {
  gap: 1rem;
}

.transactions-text {
  font-size: 12px;
}

.transactions-text:nth-of-type(2) {
  text-align: end;
}

.arrow-down, .arrow-up {
  width: 12px;
  transform: rotate(45deg);
}

.transaction-amount-received {
  color: #277C78;
}

.transaction-amount-sent {
  color: #FF0000;
}

.pots-icon {
  width: 30px;
}

.pots-type {
  border-left: 4px solid #277C78;
  margin-left: 1rem;
}

.second-pot {
  border-left: 4px solid #82C9D7;
}

.third-pot {
  border-left: 4px solid #626070;
}

.fourth-pot {
  border-left: 4px solid #F2CDAC;
}

.pot-title {
  font-size: 13px;
}

.see-details {
  font-size: 12px;
}

.recurring-bill {
  width: 100%;
  font-size: 14px;
}

.recurring-bills-container {
  border-left: 4px solid #277c78;
  background-color: #f8f4f0;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.137);
  gap: 2rem;
}

.recurring-bills-container:nth-child(3) {
  border-left: 4px solid #F2CDAC;
}

.recurring-bills-container:nth-child(4) {
  border-left: 4px solid #82C9D7;
}



